# Portfolio Analysis with Statistics

To access stock data, we will use the [yfinance library](https://github.com/ranaroussi/yfinance). We first download the historical monthly stock prices for the chosen stocks/tickers(slightly modifying the code in the library tutorial). The data comes in the form of a pandas dataframe with multi-level headers, so we also unstack the levels for simpler access.

In [23]:
import yfinance as yf
data = yf.download(tickers = "AAPL MSFT", interval = "1mo", group_by = 'ticker', auto_adjust = True, threads = True)

[*********************100%***********************]  2 of 2 completed

In [25]:
# unstack
stocks = data.stack(level=0).rename_axis(['Date', 'Ticker']).reset_index(level=1)
stocks.tail()

,Ticker,Close,High,Low,Open,Volume
Date,,,,,,
2021-05-01,MSFT,249.104782,253.764037,237.521544,252.816213,4.950849e+08
2021-06-01,AAPL,133.979996,134.080002,123.129997,125.080002,1.216682e+09
2021-06-01,MSFT,265.510010,265.790009,243.000000,251.229996,3.806892e+08
2021-06-23,AAPL,133.699997,134.320007,133.229996,133.770004,6.021420e+07
2021-06-23,MSFT,265.274994,266.829987,264.429993,265.989990,1.951868e+07